body
{
    background-color: #020039;
    color: red;
}


#site
{
    width: 1200px;
    height: auto;
    margin: auto;

    margin-top: 40px;
    position: relative;
}

#photo_profil
{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: auto;
}


#titre
{
    display: inline-block;
    width: 900px;
    height: 190px;
    position: absolute;
    top: 0;
    color: white;
    line-height: 10px;
}

h1
{
    text-align: center;
    font-size: 32px;
    font-family: Verdana,Arial;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

h2
{
    text-align: center;
    font-size: 22px;
    font-family: Verdana,arial;
    color: white;
    font-weight: bold;
}

#Description
{
    position: relative;

    margin-top: -70px;
    margin-bottom: auto;
    margin-left: 250px;
    margin-right: auto;
}

p {
    text-align: left;
    color: aquamarine;
    font-style: italic;
    font-size: 18px;
    font-family: Verdana;

}



/* Themes avec 3 listes */
#Themes
{
    display: inline-block;
    position: center;
    width: 100%;
    background-color: transparent;
}

.Liste
{
    display: inline-block;
    color: chocolate;
    text-align: left;
    font-style: normal;
    font-size: 16px;

    position: relative;

    margin: 150px auto auto 150px; /* Ordre : top right bottom left */
   /*
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 150px;
    */
}

.surlign
{
    text-decoration: underline;
    font-weight: bold;
}



/* bas du site (accès réseaux sociaux) */
#Bouton_Reseaux
{
    display: inline-block;
    position: center;
    width: 100%;
    background-color: transparent;
}

.button
{
    display: inline-block;
    margin-left: 20%;
}


ul
{
    list-style-type: none;
}
